body{

    text-align: center;
    font-size: large;
    background: rgb(2,0,36);
    background: linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(17,121,9,1) 0%, rgba(0,212,255,1) 100%);
}

.card{
    background-color: #001f3f;
    
    color: beige;
}
ul{
    display: inline;
    list-style-position: center;
}

.ui-tabs .ui-tabs-nav li{

    
    display: inline-block;
    ;
    background-color: rgb(130, 238, 135);
    

}
#contact{
    padding: 2rem;
    background-color: beige;
    border-radius: 20px;
    
    
}
button{
    background-color: lightskyblue;
    border-radius: 5px;
}
#tabs{
    
    text-align: center;

}

#head{
    font-size: 90%;
}

